.cardWrapperContainer{
//margin: 1rem;
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 1rem;
//font-family: sans-serif;
}


.authHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.FormNative{
  margin: 0.5rem;


  & > div {
    text-align: left;


  }
}

.LoginButton{
  width: 100%;

}

.RegisterCard{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  font-size: small;

}

.formInput {
 // background-color: #C05621;
  padding: 1rem;
}

.RegisterButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;

}